@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500;700&family=New+Tegomin&family=Train+One&family=Zen+Kurenaido&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
  font-family: 'Kaisei HarunoUmi', serif;
  font-family: 'New Tegomin', serif;
  font-family: 'Train One', cursive;
  font-family: 'Zen Kurenaido', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(41,147,18,1) 46%, rgba(0,0,0,1) 100%);
}

section{
    padding:3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    border-bottom: var(--border);
    background: var(--bg);
}

.header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header .logo {
  margin: 0 1rem;
    font-size: 5rem;
    color: #fff;
    animation: bn53bounce 4s infinite;
    font-weight: 800;
    
    }
    
    @keyframes bn53bounce {
    5%,
    50% {
      transform: scale(1);
    }
    
    10% {
      transform: scale(1);
    }
    
    15% {
      transform: scale(1);
    }
    
    20% {
      transform: scale(1) rotate(-5deg);
    }
    
    25% {
      transform: scale(1) rotate(5deg);
    }
    
    30% {
      transform: scale(1) rotate(-3deg);
    }
    
    35% {
      transform: scale(1) rotate(2deg);
    }
    
    40% {
      transform: scale(1) rotate(0);
    }
    }
    .header .logo:hover{
      color:var(--main-color);
      border-bottom: .1rem soild var(--main-color);
      padding-bottom: .5rem;
      font-size: 5.5rem;
     }
    .header .navbar a{
    margin:0 1rem;
    font-size: 1.8rem;
    color:#fff;
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}

#menu-btn{
    display: none;
}


.home{
  min-height:100vh;
  display:flex;
  align-items: center;
  background: url("download-2.jpg")no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 100px;
}
.home .content{
  max-width:60rem;

}
.home .content h3{
  font-size: 3.2rem;
  text-transform: uppercase;
  color: white;
 
  text-shadow: 2px 2px 0px black;}
  .home .content p{
    font-size: 1.6rem;
    color: #13131a;
    font-weight: bold;
    margin-top: 20px;
    line-height: 3rem;
  }

.drinks{
  margin-top: 20px;
}

.drinks .h1{
  font-size: 1.8rem;
  
}

.drinks .box-container{
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(30rem, 1fr) ) ;
  gap:1.5rem;
 
}
.drinks .box-container .box{

padding: 5rem;
text-align: center;
border: var(--main-color);
border-radius: 10px;
background-color: var(--black);
}

.drinks .box-container .box img{
  height:12rem;
  border-radius: 10px;

}
.drinks .box-container .box h3{
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;
}
.drinks .box-container .box .price{
  color: #fff;
  font-size: 2.5rem;
  padding: 5rem 0;
}

.drinks .box-container .box:hover{
  background:		#E34234 ;

}
.drinks .box-container .box:hover > *{
  background	:#E34234;

  color: white;
}












/* media queries  */
@media (max-width:991px){

  html{
      font-size: 55%;
  }

  .header{
      padding:1.5rem 2rem;
  }

  section{
      padding:2rem;
  }

}

@media (max-width:768px){

  #menu-btn{
      display: inline-block;
  }

  .header .navbar{
      position: absolute;
      top:100%; right: -100%;
      background: #fff;
      width: 30rem;
      height: calc(100vh - 9.5rem);
  }

  .header .navbar.active{
      right:0;
  }

  .header .navbar a{
      color:var(--black);
      display: block;
      margin:1.5rem;
      padding:.5rem;
      font-size: 2rem;
  }

  .header .search-form{
      width: 90%;
      right: 2rem;
  }

  .home{
      background-position: left;
      justify-content: center;
      text-align: center;
  }

  .home .content h3{
      font-size: 4.5rem;
  }

  .home .content p{
      font-size: 1.5rem;
  }

}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

}