
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500;700&family=New+Tegomin&family=Train+One&family=Zen+Kurenaido&display=swap');
:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
  font-family: 'Kaisei HarunoUmi', serif;
font-family: 'New Tegomin', serif;
font-family: 'Train One', cursive;
font-family: 'Zen Kurenaido', sans-serif;
   
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding:3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    border-bottom: var(--border);
    background: var(--bg);
}

.header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header .logo {
  margin: 0 1rem;
    font-size: 5rem;
    color: #fff;
    animation: bn53bounce 4s infinite;
    font-weight: 800;
    
    }
    
    @keyframes bn53bounce {
    5%,
    50% {
      transform: scale(1);
    }
    
    10% {
      transform: scale(1);
    }
    
    15% {
      transform: scale(1);
    }
    
    20% {
      transform: scale(1) rotate(-5deg);
    }
    
    25% {
      transform: scale(1) rotate(5deg);
    }
    
    30% {
      transform: scale(1) rotate(-3deg);
    }
    
    35% {
      transform: scale(1) rotate(2deg);
    }
    
    40% {
      transform: scale(1) rotate(0);
    }
    }
    .header .logo:hover{
      color:var(--main-color);
      border-bottom: .1rem soild var(--main-color);
      padding-bottom: .5rem;
      font-size: 5.5rem;
     }
    .header .navbar a{
    margin:0 1rem;
    font-size: 1.8rem;
    color:#fff;
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}

#menu-btn{
    display: none;
}


.reservations .contact  form{
  margin-top: 100px;
  display: flex;
 
  text-align: center;
  background-color: #13131a;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  
  border-width: 1px;
  
}

.reservations .contact form  input {
  width:70%;
  padding:2rem;
  font-size:1.7rem ;
  color: #fff;
  text-transform: none;
  background: none;
  border-radius: 10px;
  border: solid white 1px;
  
}

.reservations .contact form textarea{

  width:70%;
  padding:2rem;
  font-size:1.7rem ;
  color: #fff;
  text-transform: none;
  background: none;
  border-radius: 10px;
  border: solid white 1px;
}
.reservations .contact form .btn{
  
  display:flex;
  padding:2rem;
  font-size: 1.7rem;
  color: #fff;
  background:#d3ad7f;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.7s;
  justify-content: center;
 align-items: center;
 border: none;
 width: 70%;
 border-radius: 10px;
 }












/* media queries  */
@media (max-width:991px){

  html{
      font-size: 55%;
  }

  .header{
      padding:1.5rem 2rem;
  }

  section{
      padding:2rem;
  }

}

@media (max-width:768px){

  #menu-btn{
      display: inline-block;
  }

  .header .navbar{
      position: absolute;
      top:100%; right: -100%;
      background: #fff;
      width: 30rem;
      height: calc(100vh - 9.5rem);
  }

  .header .navbar.active{
      right:0;
  }

  .header .navbar a{
      color:var(--black);
      display: block;
      margin:1.5rem;
      padding:.5rem;
      font-size: 2rem;
  }

  .header .search-form{
      width: 90%;
      right: 2rem;
  }

  .home{
      background-position: left;
      justify-content: center;
      text-align: center;
  }

  .home .content h3{
      font-size: 4.5rem;
  }

  .home .content p{
      font-size: 1.5rem;
  }

}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

}